*{
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

body{
    background-color: papayawhip;
}
main{
    background-color: rgb(240, 176, 229);
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 4px 5px cyan;
}

img.lado{
    float: right;
}

img{
    width: 150px;

}